@import "{{ site.theme }}";

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #0f7dec !default;
$header-bg-color-secondary: #000133 !default;

$section-headings-color: #0F7DEB !default;
$body-text-color: #313257 !default;
$body-link-color: #0F7DEB !default;
$blockquote-text-color: rgba(0, 1, 51, 0.5) !default;
