---
---

$header-heading-color: #fff;
$header-bg-color: #0f7dec;
$header-bg-color-secondary: #000133;

$section-headings-color: #0F7DEB;
$body-text-color: #313257;
$body-link-color: #0F7DEB;
$blockquote-text-color: rgba(0, 1, 51, 0.5);

@import "{{ site.theme }}";
